{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class='container speech'>
       
    <div class="reading d-flex flex-column align-items-center">
        <label for="output" class='fs-1'>Reading</label>
        <br>
        <input type="text" name="" id="output"  >
        <button id='start'>press me</button>
        <script>
            //generate random words from the lis
            //get data from nodemcu by ajax request and add it to the list
            
            setInterval(getnode,1000);
            function textToAudio(msg) {
                
                
                let speech = new SpeechSynthesisUtterance();
                // if the msg in english, use the english voice
                 function isEnglish(str) {
                    return /[a-z]/.test(str);
                }
                if(isEnglish(msg)){
                    speech.lang = 'en-US';
                }else{
                    speech.lang = 'ar-SA';
                    
                }
                //speech.lang = 'ar-SA';
               
                
                speech.text = msg;
                speech.volume = 1;
                speech.rate = 1;
                speech.pitch = 1;
                
               window.speechSynthesis.speak(speech);
            }
                
            
            function getnode(){
                console.log('get node');
                
                
                // check if the output is changed
                
                
                $.ajax({
                    url:'{% url 'test' %}',
                    type:'GET',
                    success:function(data){
                        // dont change the output if it is the same
                        if(data.data != $('#output').val()){
                            console.log('output changed');
                            data.data == 'not found' ? console.log('not found')  : textToAudio(data.data);
                            
                        }
                        // if data didnt change for .5 seconds,print it
                        
                        data.data == 'not found' ? console.log('not found'):$('#output').val(data.data);
                        $('#output').on('change',function(){
                            console.log('click');
                            textToAudio($(this).val());
                        });
                        
                        
                    },
                   
                })
            }
            
            
          
        </script>
        {% comment %} <script>
            $(document).ready(function(){
                console.log('ready')
                $.ajax({
                    url:'{% url 'test' %}',
                    type:'GET',
                    success:function(data){
                        console.log(data)
                    }
                })
            });
        </script> {% endcomment %}
        <hr>
    </div>
    <div class="obourlogo d-flex justify-content-center mb-5">
        <img src="{% static 'svg/obourlogo.svg' %}" alt="">
    </div>
       <div class="d-flex  align-items-center justify-content-around">
            <label for="languages">translate to:</label>
             <select name="languages" id="languages">
                 <option value="en">english</option>
                 <option value="fr">french</option>
                 <option value="spanish">spanish</option>
                 <option value="german">german</option>
                 <option value="italian">italian</option>
                </select>
 
        </div>
        <br>
        <div class="d-flex flex-column justify-content-center">

            <input type="text" name="" id="translated" disabled>
            <br>
       <button class='btn' id=translate>translate</button>
        </div>
       {% comment %} <form action="" method="post">
        {% csrf_token %}
        <input type="text" name='value'>
        <input type="submit" value="" id='speechout'>
       </form> {% endcomment %}
       <script>
        var value = $('input[name="value"]').val();
        // send ajax request to speak
        
       </script>
    </div>
    <script> </script>
    <script>
        // define google translate API key
        var apiKey = 'AIzaSyD-9ZQZQZQZQZQZQZQZQZQZQZQZQZQZQZQZQ';
        // define google translate API url
        var apiUrl = 'https://translation.googleapis.com/language/translate/v2?key=' + apiKey;
        // define google translate API language codes
        
        
        google.load("language", "1");
        $(document).ready(function(){
            $('#translate').click(function(){
                var language = $('#languages').val();
                console.log(language);
                var text = $('#output').val();
                var output = $('#translated');
                var translation = google.language.translate(text, language);
                output.val(translation.translatedText);
            });
        });
        
    </script>
    {% endblock body %}
    